/*=============================
          COLORS
===============================*/

/* PRIMARY */
$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);

/*Accent*/
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);

/*Neutral*/
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

/*=============================
          Body, Headings
===============================*/

body {
    background: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* TYPOGRAPHY / Headings, Call-to-actions, Header Navigation */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    padding: 3rem 6%;
}

*:focus {
    outline: none;
}

.input-email,
.butttonGetStarted {
    padding: 12px 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 1rem;
}

.input-email {
    padding-left: 5%;
    margin-bottom: 3%;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    color: $lightGray;
}

.input-email::placeholder {
    opacity: 0.3;
}

.butttonGetStarted {
    background-color: $brightBlue;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid $brightBlue;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    // text-shadow: 0px 1px 0px #2f6627;
}

// .butttonGetStarted:hover {
//     // background-color: #5cbf2a;
// }

// .butttonGetStarted:active {
//     // position: relative;
//     // top: 1px;
// }

/*=============================================
             SECTION NAVIGATION
===============================================*/

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__items {
        display: flex;
        white-space: nowrap;
        font-size: .9rem;
    }

    &__item {
        padding: 3%;
        align-self: center;
    }
}

.logo {
    width: 30%;
}


/*====================================================================
                               SECTION MAIN
======================================================================*/

/*=============================================
             SECTION MAIN TOP
===============================================*/


// Same Values For Sections
.mainTop-info,
.mainMiddle-info,
.mainBottom-info {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    &--h1,
    &--h2 {
        padding: 1.5rem 0 2rem;
    }

    &--p {
        padding-bottom: 2rem;
    }
}

// // Same Values
.mainTop-info-form,
.mainBottom-info-form {
    display: flex;
    flex-flow: column nowrap;
    // align-items: center;
}

.illustration {
    width: 100%;
}

.mainMiddle::before {
    content: '';
    background: url(../images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    background-size: 100%;
    height: 150px;
    background-position: bottom center;
    margin-bottom: -3px;
}

.containerFillMiddle {
    background-color: $lightGrayishBlue;
}


/*=============================================
             SECTION MAIN MIDDLE
===============================================*/
.mainMiddle-info {
    &--p {
        text-align: left;
        font-size: 1.1rem;
        opacity: 0.7;
    }
}

.fyloWorks {
    color: $moderateCyan;
    padding-bottom: 5px;
    border-bottom: 1px solid $moderateCyan;
}

.iconArrow {
    width: 25px;
    position: relative;
    top: 7px;
}

.card-founderSentence {
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 15%;
    font-size: 14px;
    color: black;
    line-height: 1.5;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 4px #bfbfbf;
}

.icon-quotes {
    padding-bottom: 2%;
}

.card-image {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.card-image-avatar {
    height: 50px;
    border-radius: 50%;
}

.card-text {

    &--h3,
    &--p {
        padding-left: 5%;
        white-space: nowrap;
    }
}


/*=============================================
             SECTION MAIN BOTTOM
===============================================*/
.mainBottom {
    background: $desaturatedBlue;
}

.mainBottom-info {
    color: white;

    &--p {
        line-height: 1.6;
        // padding: 0 15px;
    }
}



/*====================================================================
                               SECTION FOOTER
======================================================================*/
footer {
    background: $veryDarkBlue;
    color: white;
}

.footerContainer {
    display: flex;
    flex-flow: column nowrap;

    /*=============================================
             SECTION FOOTER LOGO
    ===============================================*/
    .logo {
        filter: brightness(0) invert(1);
        padding-bottom: 5%;
    }


    /*=============================================
             SECTION FOOTER QUICK CONTACT
    ===============================================*/
    .quickContactItem:first-child::before {
        content: url(../images/icon-phone.svg);
    }

    .quickContactItem:last-child::before {
        content: url(../images/icon-email.svg);
    }

    //Same Values
    .quickContactItem:first-child::before,
    .quickContactItem:last-child::before {
        padding-right: 10px;
        position: relative;
        top: 1px;
    }

    // Same Values
    .quickContactItem,
    .contactItem {
        padding: 5px 0;
    }

    /*=============================================
             SECTION CONTACT
    ===============================================*/
    .contactItemList {
        padding: 5% 0;
    }

    .contactItemLink {
        color: white;
    }

    /*=============================================
             SECTION SOCIAL
    ===============================================*/
    .socialItemList {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .socialItem {
        padding: 0 1rem;
        // border: 1px solid white;
    }

    .fab {
        display: flex;
        border: 1px solid white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: white;
    }

    .socialLink {
        background-color: transparent;
        text-decoration: none;
        // color: white;
    }
}




/*=============================================================================================================================
                                                       MEDIA QUERIES
==============================================================================================================================*/


/*==================================================
                MEDIA QUERIES min 376px
====================================================*/
@media only screen and (min-width: 376px) {

    /*===================
       SECTION NAVIGATION
    =====================*/
    .logo {
        max-width: 200px;
    }
}

/*==================================================
                MEDIA QUERIES min 768px
====================================================*/
@media only screen and (min-width: 768px) {

    /*===================
       SECTION NAVIGATION
    =====================*/
    .nav__items {
        font-size: 1.1rem;
    }

    .nav__item {
        padding: 6%;
    }


    /*==================================
                SECTION MAIN
    ====================================*/


    /*==================================
                SECTION MAIN TOP
    ====================================*/
    //Same Values
    .mainTop-info,
    .mainMiddle-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "infoGrid illustrationGrid";
        grid-gap: 8%;
        text-align: center;
    }

    .mainTop-illustrationGrid {
        grid-area: illustrationGrid;
        align-self: center;
    }

    .mainTop-infoGrid {
        grid-area: infoGrid;
        align-self: center;
    }

    .mainTop-info-form {
        display: flex;
        flex-flow: row nowrap;
    }

    //Same Values
    .input-email,
    .butttonGetStarted {
        font-size: .8rem;
        white-space: nowrap;
    }

    .input-email {
        margin-bottom: 0;
        width: 70%;
        margin-right: 5%;
    }

    .butttonGetStarted {
        width: 35%;
    }

    /*==================================
                SECTION MAIN MIDDLE
    ====================================*/
    .mainMiddle::before {
        background: url(../images/bg-curve-desktop.svg);
        background-repeat: no-repeat;
        width: 100%;
        display: block;
        background-size: 100%;
        height: 150px;
        background-position: bottom center;
        margin-bottom: -3px;
    }

    .mainMiddle-illustrationGrid {
        grid-area: illustrationGrid;
        align-self: center;
    }

    .mainMiddle-infoGrid {
        grid-area: infoGrid;
        align-self: center;
        text-align: left;
    }

    .card-founderSentence {
        margin: 0;
        margin-top: 8%;
    }

    /*==================================
                SECTION MAIN BOTTOM
    ====================================*/
    .mainBottom-info {

        display: flex;
        flex-flow: row nowrap;

        &--h2,
        &--p {
            text-align: left;
            // width: 90%;
        }
    }

    .mainBottom-info-form {
        width: 100%;

        //Same Values
        .input-email,
        .butttonGetStarted {
            font-size: 0.9rem;
        }

        .input-email {
            width: 100%;
            margin-bottom: 2%;
        }

        .butttonGetStarted {
            width: 70%;
        }
    }

    .mainBottom-infoContainer {
        width: 100%;
        margin-right: 4%;
    }

    .mainBottom-formContainer {
        width: 100%;
        align-self: center;
        margin-left: 4%;
    }



    /*==================================
                SECTION FOOTER
    ====================================*/

    .footerContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "footerLogo . .""footerQuickContact contact social";

        .contactItemList {
            padding: 0% 0;
        }

        .logo {
            width: 100%;
            padding-bottom: 10%;
        }

        .fab {
            height: 40px;
            width: 40px;
            font-size: 1rem;
        }
    }

    .footerLogo {
        grid-area: footerLogo;
    }

    .footerQuickContact {
        grid-area: footerQuickContact;
    }

    /*==================================
                SECTION CONTACT
    ====================================*/
    .contact {
        grid-area: contact;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "contactFirstPart contactSecondPart";

        .contactFirstPart {
            grid-area: contactFirstPart;
            margin-left: 15%;
        }

        .contactSecondPart {
            grid-area: contactSecondPart;
            display: grid;
            justify-content: center;
        }
    }

    /*==================================
                SECTION SOCIAL
    ====================================*/
    .social {
        grid-area: social;
    }



}

/*==================================================
                MEDIA QUERIES min 1224px
====================================================*/

@media only screen and (min-width : 1224px) {

    //Same Values
    .input-email,
    .butttonGetStarted {
        font-size: 1rem;
    }


    /*==================================
            SECTION MAIN BOTTOM
    ====================================*/
    .mainBottom-info-form {

        //Same Values
        .input-email,
        .butttonGetStarted {
            font-size: 1rem;
        }

        .butttonGetStarted {
            width: 50%;
        }
    }


    /*==================================
            SECTION FOOTER
    ====================================*/
    .footerContainer {
        .fab {
            height: 50px;
            width: 50px;
            font-size: 1.5rem;
        }
    }

    /*==================================
            SECTION CONTACT
    ====================================*/
    .contact {
        .contactFirstPart {
            margin-left: 0%;
        }
    }


}